@{
    ViewData["Title"] = "POLITICAS DE PRIVACIDAD";
}

<div class="text-center">
    <h1 style="color:black">@ViewData["Title"]</h1>
    <p style="color:black">Creado por David Alejandro Santa</p>
</div>

