<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@*@ViewData["Title"] -*@ WebPractica</title>

    <partial name="_Estilos" />

    <link rel="icon" type="image/jpg" href="~/imagenes/img1.jpeg"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
               
    <div class="wrapper" style="top:2px">
            <partial name="_Navbar" />
            <partial name="_Sidebar" />
            @RenderBody()
            <partial name="_Footer" />
            <partial name="_Script" />
    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
